<html>
    <head>
        <title>Testowy blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog o kontroli umysłu</a></h1>
        </div>

        <div>
            <p>published: 25.12.2025, 16:01</p>
            <h2><a href="">Głosy do głowy (V2K)</a></h2>
            <p>Czym jest technologia Voice to Skull
Voice to Skull (V2K) to nazwa określająca system przekazywania dźwięku – głosu, słów, a nawet muzyki – bezpośrednio do ludzkiego umysłu, bez udziału zewnętrznych głośników. Odbiorca słyszy komunikaty w swojej głowie tak, jakby ktoś mówił wewnętrznym głosem – mimo że żadne źródło dźwięku nie jest obecne.

Według badaczy takich jak dr Robert Duncan, dr Rauni-Leena Kilde, czy inżynier Dr James Lin (Uniwersytet Illinois), technologia ta opiera się na efekcie mikrofalowego słyszenia (Microwave Auditory Effect), odkrytym jeszcze w latach 60. XX wieku przez dr Allana Freya.
Efekt Freya wykazał, że impulsy mikrofal o odpowiednio modulowanej częstotliwości mogą powodować w ludzkim uchu wewnętrznym wrażenie dźwięku – „kliknięcia”, „stukania”, a przy odpowiedniej modulacji nawet rozpoznawalnych słów.</p>
        </div>

        <div>
            <p>published: 25.12.2025, 16:03</p>
            <h2><a href="">Jak działa V2K</a></h2>
            <p>V2K wykorzystuje zjawisko przekształcania energii mikrofalowej w sygnał akustyczny odczuwany bezpośrednio w mózgu.
Proces w uproszczeniu wygląda tak:

Nadajnik emituje wąską wiązkę mikrofal kierowaną w stronę konkretnej osoby.

Mikrofale penetrują czaszkę i powodują szybkie mikrorozszerzenia tkanek, co generuje subtelne fale akustyczne odbierane przez ślimak ucha wewnętrznego.

Odpowiednio zmodulowana fala może zostać przetworzona w czytelny dźwięk – głos, komendę, słowo, muzykę.

Osoba docelowa odbiera to jako głos wewnętrzny, podczas gdy otoczenie niczego nie słyszy.

W praktyce można w ten sposób przekazywać całe zdania bez użycia dźwięku słyszalnego przez innych.
Dr Duncan w „Project: Soul Catcher” wyjaśnia, że system V2K działa w oparciu o neuralny słownik fal mózgowych – tzn. komputer zna wzorce EEG odpowiadające słowom i może zsyntetyzować komunikat, który w umyśle odbiorcy „zabrzmi” jako głos innego człowieka.</p>
        </div>
    </body>
</html>